<div id="messages" class="messages">
    <div id="messages-table" class="messages-table" data-id='<%= @conversation.id %>'>
        <% if @messages.any? %>
        <% @messages.each do |message| %>
          <% if message.id %>
            <%= render 'message', message: message %>
          <% end %>
        <% end %>
        <% end %>
    </div>
</div>
